<div class="inputs">
    <div class="dropdown">
        <div id="myDropdown" class="dropdown-content" appClickOutside (clickOutSide)="closeCitiesDropDown($event)">
            <input
             (click)="showcities()"
             (keyup)="filterCities()"
             [(ngModel)] = "inputCity"
              type="text" placeholder="Search.." >
            <div *ngIf="showCities">
                <a *ngFor="let city of  citiesDataFiltered" (click)="selectCity(city)">
                    {{city.city}} ({{city.zip_code}})
                </a>
                
            </div>
        </div>
      </div>
    <select name="zipcode" [(ngModel)]="searchedBy">
        <option [ngValue]=" 'zip_code'" >Zip Code</option>
        <option [ngValue]="'city'" >City Name</option>
    </select>
</div>

    <app-weather-details #weatherView
        [selectedCity]="selectedCity"
        [weatherApiData] = "weatherApiData"
        [getWeatherForecast] = "getWeatherForecast"
        [temperatureUnit] = "temperatureUnit"
    ></app-weather-details>
