<ng-template #celsius>
    &#8451;
</ng-template>
<div class="weather-details" *ngIf="weatherApiData">
    <div class="forecast">
        <div class="today">
            <h4> Today's Forecast for {{weatherApiData.city.name}},{{weatherApiData.city.country}} </h4>
            <div class="details">
                <div>
                    <p>Temperature: {{weatherApiData.list[0].main.temp}} <span *ngIf="temperatureUnit == unitsMeasurement.imperial; else celsius">&#8457;</span></p>
                    <p>Weather Condition: {{weatherApiData.list[0].weather[0].description}}</p>
                    <p>Highest Temperature: {{weatherApiData.list[0].main.temp_max}}<span *ngIf="temperatureUnit == unitsMeasurement.imperial; else celsius">&#8457;</span></p>
                    <p>Lowest Temperature: {{weatherApiData.list[0].main.temp_min}}<span *ngIf="temperatureUnit == unitsMeasurement.imperial; else celsius">&#8457;</span></p>
                </div>
                <div>
                    <img src="http://openweathermap.org/img/wn/{{weatherApiData.list[0].weather[0].icon}}@2x.png" alt="">
                </div>

            </div>
        </div>
        <div class="weekly">
            <h4>Weekly Forecast For {{weatherApiData.city.name}},{{weatherApiData.city.country}}</h4>
            <div class="flex">
                <div class="card" *ngFor="let weeklyData of weeklyWeatherData" (click)="parseBarChartData(weeklyData.weatherData,weatherApiData.city.timezone)">
                    <img src="http://openweathermap.org/img/wn/{{weeklyData.weather[0].icon}}@2x.png" alt="">
                    <p>{{weeklyData.weather[0].description}}</p>
                    <p>{{weeklyData.main.temp}}<span *ngIf="temperatureUnit == unitsMeasurement.imperial; else celsius">&#8457;</span></p>
                    <p>{{weeklyData.dt_txt.split(' ')[0]}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="right-card">
        <div class="temperture">
            <h2>Temperature Converter</h2>
            <div class="flex converter">
                <button (click)="selectedCity && getWeatherForecast(selectedCity,  unitsMeasurement.metric)" >&#8451;elsuis</button>
                <img src="assets/images/converter.jpg" alt="">
                <button (click)="selectedCity && getWeatherForecast(selectedCity,  unitsMeasurement.imperial)">&#8457;arhenheit</button>
            </div>
        </div>
        <div class="chart">
            <aside  *ngIf="showChart">
                <app-bar-chart 
                    [barChartLabels]="barChartLabels"
                    [barChartData] = "barChartData">
                </app-bar-chart>
            </aside>
        </div>
    </div>
    
    
</div>
<div *ngIf="weatherApiData">
    <app-maps></app-maps>
</div>