.inputs {
    display :flex;
    justify-content: space-around;
    margin : 20px;
    min-height: 40px;
}
.inputs input[type="text"] {
    min-width: 80%;
    text-align: center;
}

.inputs select {
    min-width: 15%;
}

.inputs select option {
    text-align: center;
}

/* weather forecast start */
.weather-details {
    margin: 2.5%;
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
}
.forecast {
    display: flex;
    flex-direction: column;
}
.temperture {
    display: flex;
    flex-direction: column;
}
.today {
    padding: 13px;
    background-color: #422323;
    border-radius: 10px;
    color: white;
}
.details {
    display: flex;
}


/* weather forecast end */